################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PFA
/PFA/obj
/PFA.Core/obj
/PFA.Core/bin/Debug/net7.0
/.vs/ProjectEvaluation
